.root
  width 100%
  flex-direction column
  padding 0
  border-top 1px solid $UI.colors.colorGray
  border-right 1px solid $UI.colors.colorGray

.row
  border-bottom 1px solid $UI.colors.colorGray

.cell
  padding 1u
  border-left 1px solid $UI.colors.colorGray
