.root
  width 100%
  flex-direction column
  padding 0 1u

.deka
  background-color $UI.colors.colorBgList
  border-right 1px solid $UI.colors.colorGray
  border-top 1px solid $UI.colors.colorGray
  flex-direction column

.row
  border-bottom 1px solid $UI.colors.colorGray

.cell
  padding 1u
  border-left 1px solid $UI.colors.colorGray

.game
  border 1px solid red
  padding 2u

.pagination
  padding 1u
  justify-content center
  background-color $UI.colors.colorBgForm2