@require '../node_modules/@startupjs/ui/styles/index.styl'

$UI = merge($UI, {
  colors: {
    colorBg: rgb(0,81,8),
    colorBgForm2: rgba(247,247,247,0.8),
    colorBgButton2: rgb(254,238,190),
    colorGreen: rgb(0,81,8),
    colorGreen2: rgb(0,80,38),
    colorBlack: rgb(0,0,0),
    colorWhite: rgb(255,255,255),
    colorRed: rgb(204,0,0),
    colorBgList: rgba(188,188,188,0.8),
    colorGray: rgb(118,118,118)
  },
}, true)





